/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 0.5em;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
}

section {
    padding: 2em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
 */

 Reset some default styles

 body, h1, h2, p, label, input {
     margin: 0;
     padding: 0;
     font-family: 'Segoe UI';
 }
 
 h1 {
     font-weight: bold;
     font-size: 60px;
 }
 
 
 h2 {
     font-size: 35px;
     margin: 20px;
     text-align: center;
 }
 
 
 .subtitle {
     text-align: center;
     font-size: 24px;
 }
 
 body {
     font-family: 'Segoe UI';
     background-color: #f4f4f4;
     color: #333;
 }
 
 header {
     background-color: #912338;
     color: #fff;
     padding: 20px;
     text-align: center;
 }
 
 .container {
     max-width: 400px;
     margin: 50px auto;
     background-color: #fff;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 section {
     margin-bottom: 20px;
 }
 
 form {
     display: flex;
     flex-direction: column;
 }
 
 label {
     margin-bottom: 8px;
     
 }
 
 input {
     padding: 10px;
     margin-bottom: 16px;
     border: 1px solid #ddd;
     border-radius: 4px;
 }
 
 input[type="submit"] {
     background-color: #912338;
     color: #fff;
     cursor: pointer;
 }
 
 input[type="submit"]:hover {
     background-color: #936b72;
 }
 
 p {
     margin-bottom: 16px;
 }
 
 a {
     color: #912338;
     text-decoration: none;
 }
 
 a:hover {
     text-decoration: underline;
 }
 
 /* Responsive styles */
 @media screen and (max-width: 600px) {
     header {
         font-size: 1.5em;
     }
 
     .container {
         max-width: 100%;
         margin: 10px;
     }
 
     input {
         width: 100%;
     }
 }
 
 
 